## Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates
.vscode/

## Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.assets.json

## OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store